.head{
	font-family: "arial";
	font-size: 200%;
	text-align: center;
	background-color: #28B463;
	color: white;
	padding: 30px;
}

.row{
	padding: 20px;
	margin: auto;
}

	.colum-1{
	width: 33%;
	float: left;
}
